<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="../00.lib/vue.js"></script>
</head>
<body>
    <div id="app">
        <cpn>
        </cpn>

        <cpn></cpn>
        <cpn></cpn>
        <cpn>
            <template slot-scope='slot'>
                <span v-for='item in slot.data'>{{item}} -</span>
            </template>
        </cpn>
    </div>
    
    <template id="cpn">
        <div>
            <slot :data="fruits">
                <ul>
                    <li v-for="item in fruits">{{item}}</li>
                </ul>
            </slot>
        </div>
    </template>
    
    <script>

        //组件插槽
        //父组件模板的所有东西都会在父级作用域内编译...
        new Vue({
            el:'#app',
            data:{
            },
            components:{
                cpn:{
                    template:'#cpn',
                    data(){
                        return{
                            fruits:['apple','banana','orange']
                        }
                    }
                }
            }
        })

    </script>

</body>
</html>