<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.joke.dao.test.TestDao">

    <select id="queryAllTest" resultType="com.joke.pojo.test.Test">
        select * from "Test";
    </select>
    <select id="queryAllUser" resultType="com.joke.pojo.test.User">
        select * from "User"
    </select>

</mapper>
